@model IEnumerable<ChatterBox.Models.Chat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-md-6">
    <div id="response"></div>
    <button id="getChats" class="btn btn-primary">Get Chats</button>
</div>

<div class="col-md-6">
    <textarea id="textBox" placeholder="Write Your Post Here"></textarea>
    <button id="postButton" class="btn btn-primary">Post</button>
</div>

@section Scripts {
    <script>
        //AJAX request using jQuery as a helper
        //Notice this combines Razor syntax (@Url.Action()) in order to
        //have the compiler figure out the exact path of the controller,
        //alongside of jQuery.

        $(document).ready(function () {





            $("#getChats").click(GetPosts);

            window.setInterval((GetPosts), 10000);

            function GetPosts() {
                $.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
                    var jsonTest = JSON.parse(serverResponse);

                    var chatList = $("<ul>", { id: "lists", "class": "bg-primary" });
                    console.log(jsonTest);
                    $("#response").append(chatList);


                    $(jsonTest).each(function (index, value) {
                        var chatsMessages = $("<li>", { id: "message" + index, "class": "chatsCL" })
                        chatsMessages.text(value.UserName + " " + value.Message + " " + value.TimeStamp);
                        chatList.append(chatsMessages);

                    })

                });
            }

            $("#postButton").click(WritePost);

            function WritePost() {
                var post = $("#textBox").val();


                $.post("@Url.Action("PostChats", "Chats")", { "Message": post });
            }

        });













    </script>
}


